<%= form_for(@blog, html: { multipart: true, class: 'form-horizontal' } ) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'col-sm-1 control-label' %><br>
    <div class="col-sm-11">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'col-sm-1 control-label' %><br>
    <div class="col-sm-11">
      <% if @blog.image.exists? %>
        <%= image_tag @blog.image(:thumb) %><br>
        <%= f.check_box :remove_image  %>
        <%= f.label :remove_image, 'Remove this image', class: 'thin-label' %>
        <p><b>or</b></p>
      <% end %>
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'col-sm-1 control-label' %><br>
    <div class="col-sm-11">
      <%= f.text_area :content, class: 'form-control wysihtml5', rows: 25 %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= f.submit 'Save', class: 'btn btn-default', data: { disable_with: 'Saving...'} %>
    </div>
  </div>
<% end %>


<script type="text/javascript">

  $(document).ready(function(){
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
</script>
