
<h1>Listing blog posts</h1>

<% if user_signed_in? %>
  <%= link_to 'New Blog Post', new_blog_path, class: 'btn btn-primary', id: 'new_blog_btn' %>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to blog.title, blog %></td>
        <td><%= truncate( strip_tags(blog.content), length: 150) { link_to ' Continue', blog } %></td>
        <td class="publish-btns">
          <%= render_blog_status_for_current_user(blog) %>
        </td>

        <td><%= blog.user.email %></td>
        <% if current_user and current_user.can_edit?( blog) %>
          <td><%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-default' %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
