<!-- <p id="notice"><%#= notice %></p> -->

<%= link_to 'Back', blogs_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-default' if current_user.can_edit?(@blog) %>  <br><br>

<p>
  <strong>Title:</strong>
  <%= @blog.title %> &nbsp;&nbsp;
  <strong>Status:</strong>
  <%= @blog.status %> &nbsp;&nbsp;
  <strong>User:</strong>
  <%= @blog.user.email %>
</p> <br>

<% if @blog.image.exists? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @blog.image(:medium) %>
  </p>
<% end %>


<p>
  <strong>Content:</strong>
  <pre>
    <%= @blog.content %>
  </pre>
</p>


<div id="comment-form">
  <%= render 'comments/form', comment: @blog.comments.build, blog: @blog %>
</div>

<div id="comments-conainer">
  <%= nested_comments @comments %>
</div>

