<!-- <p id="notice"><%#= notice %></p> -->

<div>
  <%= link_to 'Back', blogs_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-default' if current_user.can_edit?(@blog) %> &nbsp;&nbsp;&nbsp;

  <strong>Posted by: </strong>
  <%= @blog.user.email %> &nbsp;&nbsp;

  <% if current_user.can_update_status?(@blog) %>
    <strong>Status:</strong>
    <%= render_blog_status_for_current_user(@blog) %>
    <span class="thin gray"></span>
    <%= content_tag :span, "(Status updated by: #{@blog.status_updated_by.try(:email) || 'NA'})", class: 'thin gray' if current_user.can_update_status?(@blog) %>
  <% end %>
</div>

<br> <hr>

  <center><%= content_tag :h1, @blog.title %></center>
<% if @blog.image.exists? %>
  <p>
    <%= image_tag @blog.image(:medium) %>
  </p>
<% end %>

<%=raw @blog.content %>

<div id="comment-form">
  <%= render 'comments/form', comment: @blog.comments.build, blog: @blog %>
</div>

<div id="comments-conainer">
  <%= nested_comments @comments %>
</div>

